$font-size-base: 16px;
$font-family-base: "Roboto", "Noto", sans-serif;
$grey: #333333;
$shadowString: 0 2px 5px rgba(0, 0, 0, 0.26);
$material-font-path: "../bower_components/bootstrap-material-design/fonts";
//$primary: #455a64;
$primary: #607D8B;
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "../bower_components/bootstrap-material-design/sass/material";
@import "../bower_components/bootstrap-material-design/sass/icons-material-design";
//@import "../bower_components/bootstrap-material-design/sass/material-wfont";
@import "mixins";
body {
  margin-top: 55px;
}

body, h1, h2, h3, h4, h5 {
  font-family: "RobotoDraft", "Roboto", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}

@import "header";

#navbar-intro {
  &>div {
    @include make-row();
  }
  background: $primary;

  h1 {
    font-size: 56px;
    font-weight: 500;
    color: $navbar-brand-color;
    padding: 60px 0 40px 0;
    margin-top: 0;
    margin-bottom: 0;
    z-index: 2;
    @include make-xs-column(8);
    //@include make-xs-column-push(1);
    @include make-sm-column(7);
    @include make-sm-column-push(2);

    small {
      display: block;
      font-weight: 500;
      font-size: 20px;
      color: $grey;
    }
  }

  .avatar {
    overflow: hidden;
    height: 196px;
    z-index: 1;
    @include make-xs-column(4);
    //@include make-xs-column-push(1);
    img {
      width: 250px;
      margin: -15px 0;
    }

    figure {
      margin: 20px auto 0 auto;
      width: 150px;
      height: 150px;
      background: $orange url("../images/zeichnung-michael.png") no-repeat -25px -20px;
      background-size: 250px;
      padding: 1px;
      border-radius: 100%;
      @extend .shadow-z-3;
      border: 1px solid rgba(0, 0, 0, .1);
    }
  }
}

.content-section {
  @include feinbier-content;
  letter-spacing: .1px;
  line-height: 24px;

  &.intro {
    font-size: 20px;
    line-height: 32px;
    color: $lightbg-text;
    padding-top: 80px;

    h2 {
      color: $primary;
      margin-bottom: 30px;
    }

    em {
      color: $orange;
      font-style: normal;
      font-weight: 500;
    }
  }
}

@import "content";
@import "footer";