$font-size-base: 16px;
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "../bower_components/bootstrap-material-design/sass/material";
//@import "../bower_components/bootstrap-material-design/sass/material-wfont";

//ThemeColors
$left1: #D5D387;
$left2: #A7C082;
$left3: lighten(#67A295, 20%);
$center: #67A295;
$right1: #4F7688;
$right2: #4B4969;
$actionColor: #B1103C;

//@include navbar-variant()
body {
  padding-top: 65px;
  background-color: $left2;
  color: $right1;
}

h1, h2, h3, h4, h5 {
  font-family: "Noto Serif", serif;
}

header.navbar {
  background-color: $right2;
  font-family: "Noto Serif", serif;

  .navbar-brand {
    font-size: 2.7em;
    line-height: 1em;
    color: white;
    span {
      color: $right1;
    }
  }

  .btn {
    padding: 8px 20px;

    &:hover {
      background-color: transparent;
    }
  }

  i {
    color: $left2;
    fill: $left2;
    font-size: 1.7em;
  }

  .mail-btn i {
    color: $right1;
    fill: $right1
  }
}

//Content
.content-section {
  @include make-row();
  padding: 2.5em;
  background-color: #EFF3E8;

  &.dark {
    @extend .shadow-z-2;
    background-color: $left2;

    h2 {
      font-size: 24px;
      font-weight: normal;
      line-height: 1.5;
      color: white;
    }
  }

  &.intro {
    background-image: url("../images/zeichnung-michael.png");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: 25px 0;


    & > div {
      @include make-xs-column(12);
      @include make-sm-column(8);
      @include make-sm-column-offset(4);
    }
  }
}