#content {

  h2 {
	color : $primary;
  }

  p.bodytext {
	line-height : 24px;
	margin      : $line-height-computed 0 $line-height-computed*1.5 0;
  }

  em {
	font-style  : normal;
	font-weight : 500;
	color       : $deeporange;
  }
}

//Layout
#content {
  @include make-row();
}

.intro {
  @include feinbier-content;
}

.logos {
  @include make-row();
}

.leistungen {
  @include make-xs-column(12);
  @include make-sm-column(8);
  @include make-sm-column-offset(2);
}

.vita {
  @extend .leistungen;
}

.default-content {
  @extend .leistungen;
}

.half {
  @include make-xs-column(12);
  @include make-sm-column(5);
  @include make-sm-column-offset(1);
}

//Logos (Sublayout)
.logos {
  @include make-row();
  margin-top : 24px;

  .logo {
	@include make-xs-column(6);
	@include make-md-column(4);
	min-height: 90px;
	margin-bottom : 24px;
	//@include make-lg-column()

	.img {
	  opacity: .6;
	  width: 100%;
	  height: 85px;
	  background-color: white;
	  background-repeat: no-repeat;
	  background-position: 50% 50%;
	  background-size: contain;
	  @include transition(all .2s ease);
	  @extend .shadow-z-1;
	  &:hover {
	  	@extend .shadow-z-3;
		opacity: 1;
	  }
	}
  }
}
