<div layout horizontal class="content-section dark">
    <div flex>
        <h2><core-icon icon="chevron-right"></core-icon>Impressum</h2>

        <p><em>Angaben gemäß § 5 TMG:</em></p>

        <p>Michael Feinbier<br>
            Erkrather Str. 296<br>
            40231 Düsseldorf<br>
            <a href="/datenschutz.html">Datenschutzerklärung</a>
        </p>

        <h2><core-icon icon="chevron-right"></core-icon>Kontakt:</h2>

        <p><core-icon icon="settings-phone"></core-icon>Telefon:
            <a href="tel:+4916094641123"> +49 (0)160 94 64 11 23</a><br>
            <core-icon icon="mail"></core-icon>E-Mail:
            <a href="mailto:info@feinbier.net">info@feinbier.net</a></p>

        <h2><core-icon icon="chevron-right"></core-icon>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</h2>

        <p>Michael Feinbier<br>
            Erkrather Str. 296<br>
            40231 Düsseldorf</p>
    </div>
</div>