<paper-shadow z="1">
<div layout horizontal class="content-section dark intro">
	<figure flex>
	</figure>
	<div flex three>
		<h2>
			&quot;Rockstar gefangen im Körper eines Informatikers&quot;</h2>
		<p>Seit 10 Jahren bin ich in und um die Werbung tätig als <em>Softwareentwickler</em> und <em>Technischer
			Projektmanager</em>.
			Seit 2015 auch als freiberuflicher Medieninformatiker (BA) in den Regionen Düsseldorf/Köln, Hamburg und
            Frankfurt/Main.<br>

			Gearbeitet habe ich unter Anderm für Kunden wie die Deutsche Post, Praktiker, Johnson&amp;Johnson, O<sub>2</sub> und
			BMW.<br>
			Auf den folgenden Seiten m&ouml;chte ich einen kleinen Einblick in mein Leistungsspektrum geben und Ihnen
			die Möglichkeit geben, mich zu kontaktieren.
		</p>
	</div>
</div>
</paper-shadow>

<div class="content-section small">
    <h2>Technologien &amp; Frameworks</h2>
    <div horizontal layout wrap >
        <feinbier-logo logo="symfony.svg"></feinbier-logo>
        <feinbier-logo logo="Logo_TYPO3.svg"></feinbier-logo>
        <feinbier-logo logo="laravel.png"></feinbier-logo>
        <feinbier-logo logo="sencha.png"></feinbier-logo>
        <feinbier-logo logo="flow-logo-708px.png"></feinbier-logo>
        <feinbier-logo logo="wordpress.png" class="wordpress"></feinbier-logo>
    </div>
</div>

<div layout horizontal center class="content-section">
	<div flex three>
		<h2>
			<core-icon class="" icon="developer-mode-tv"></core-icon>
			Leistungen
		</h2>
		<p>Seit über 10 Jahren bin ich im PHP-Bereich tätig. Angefangen bei herkömmlicher Andwendungsapplikation umfasst
			mein
			Leistungsspektrum mittlerweile auch Entwicklung von Smartphone Apps (Android und HTML5-Webapps) aber auch
			Technisches Projektmanagement</p>

		<h3>Technische Skills</h3>
		<ul>
			<li>Softwarearchitektur und -design</li>
			<li>PHP-Entwicklungen auf Basis von <em>Symfony2</em>, <em>TYPO3 FLOW</em> und <em>Laravel</em> auf
				Senior-Level
			</li>
			<li><em>TYPO3</em> Integration von Webseiten und Entwicklung von <em>TYPO3-Extensions</em> mit <em>Extbase
				&amp; Fluid</em></li>
			<li><em>Android-App</em> Entwicklung in nativem Java oder auf HTML5-Basis mit <em>Sencha Touch</em> zur
				Veröffentlichung auf verschiedenen Devices (iOS, Android, WindowsPhone)
			</li>
		</ul>
		<h3>Projektmanagement</h3>
		<ul>
			<li>Tätigkeit als <em>Technischer Projektmanager</em> für mehr als 2 Jahre</li>
			<li>Erfahrung in Konzeption, Kalkulation und Steuerung von IT-Projekten im Web-Umfeld</li>
			<li>Anleitung und Führung von Entwickler-Teams</li>
		</ul>
	</div>
	<div flex class="content-icon">
		<core-icon class="content-icon" icon="developer-mode-tv"></core-icon>
	</div>

</div>

<paper-shadow z="1">
<div layout horizontal center class="content-section dark">

	<div flex three>
		<h2>
			<core-icon class="" icon="assignment-ind"></core-icon>
			Kurzes Faktenblatt (Vita)
		</h2>
		<ul>
			<li>Geboren im November <em>1984</em> in Lippstadt</li>
			<li>Aufgewachsen in Waderloh-Diestedde, gewohnt in Oelde und Bielefeld, mittlerweile
				geankert in <em>Düsseldorf</em></li>
			<li>Abschluss <em>2008</em> als <em>Bachelor of Science (FH)</em> in <em>Angewandter Informatik</em>
				Schwerpunkt Medien an der FHDW
			</li>
			<li>6 Jahre als Webentwickler bei der <em>HDNET GmbH</em>, Werther</li>
			<li>1 Jahr als (Senior) Webentwickler bei der <em>TWT Interactive GmbH</em>, Düsseldorf</li>
			<li>2 Jahre als Technischer Projektmanager &amp; Management Supervisor bei der <em>Interone GmbH</em>,
				Düsseldorf
			</li>
		</ul>
	</div>
	<div flex class="content-icon">
		<core-icon class="content-icon" icon="assignment-ind"></core-icon>
	</div>
</div>
</paper-shadow>