core-header-panel {
  height: 100%;

  h1 {
    margin: 10px;
    strong {
      font-weight: normal;
      color: white;
    }
  }

  //Icons
  paper-button {
    &:hover {
      color: white;
    }
    &::shadow #ripple {
      color: white;
    }

    //Responsive
    &.mainmenu {
      color: $center;
      fill: $center;
      @media screen and (max-width: $breakPhone) {
        display: none;
      }
    }
  }

  paper-menu-button {
    display: none;
    @media screen and (max-width: $breakPhone) {
      display: inherit;
    }
  }
}

#toolbar {
  //height: 120px;
  height: auto;
  background-color: $right2;
  color: $right1;
  fill: $right1;
}



