/*
 * Theme Definition
 * @see https://kuler.adobe.com/de/Thema-63-color-theme-4375760/
 */
$left1:  #2C3540;
$left2:  #4F6573;
$left3: lighten($left2, 10%);
$center: #F2F2F2;
$right1: #D9B18F;
$right2: #A6705D;

/*
$left1: #334D5C;
$left2: #45B29D;
$left3: #EFEFEF;
$center: #EFC94C;
$right1: #E27A3F;
$right2: #DF4949;
*/

//http://coolors.co/d5d387-a7c082-67a295-4f7688-4b4969
$left1: #D5D387;
$left2: #A7C082;
$left3: lighten(#67A295, 20%);
$center: #67A295;
$right1: #4F7688;
$right2: #4B4969;
//$actionColor: #B1103C;
$actionColor: rgb(210, 63, 49);

$grey1: darken($center, 40%);

$breakPhone: 640px;
$breakSmall: 400px;

body {
  font-size: 16px;
  font-family: "RobotoDraft",Helvetica,Arial,sans-serif;
  font-weight: 300;
  line-height: 24px;
  height: 100%;
  margin: 0;
  color: $center;
  //background-color: $left3;
}

a, a:hover, a:active, a:visited {
  color: $left2;
  lift: $left2;
}

h1,h2,h3,h4,h5 {
  font-family: "Noto Serif", serif;
}



@import "header";
@import "content";
@import "footer";
//@import "../fonts/flaticon.css";