
<div class="default-content">
    <div>
        <h2>Impressum</h2>

        <p><em>Angaben gemäß § 5 TMG:</em></p>

        <p><strong>Freiberuflicher Medieninformatiker (BA / FH)<br>Michael Feinbier</strong><br>
            Erkrather Str. 296<br>
            40231 Düsseldorf<br>
            <a href="/datenschutz.html">Datenschutzerklärung</a>
        </p>

        <h3>Kontakt</h3>

        <p>Telefon:
            <a href="tel:{{phone}}">{{phoneString}}</a><br>
            E-Mail:
            <a href="mailto:{{mail}}">{{mail}}</a></p>

        <h3>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</h3>

        <p>Michael Feinbier<br>
            Erkrather Str. 296<br>
            40231 Düsseldorf</p>
    </div>
</div>