<div class="container-fluid" id="navbar-intro">
	<div>
		<h1>Michael Feinbier
			<small>Freiberuflicher Medieninformatiker</small>
		</h1>

		<div class="avatar">
			<figure></figure>
		</div>
	</div>
</div>