<div class="default-content">
	<div class="logos">
		{{#each this}}
			<div class="logo" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{title}}">
				<div class="img" style="background-image: url('images/logos/{{path}}');">
					<span class="sr-only">{{title}}</span>
				</div>
			</div>
		{{/each}}
	</div>
</div>
