<!DOCTYPE html>
<html>
<head>
    <title>Michael Feinbier | Freelance PHP Developer</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta property="og:title" content="Michael Feinbier - Freelance PHP Delevoper">
    <meta property="og:site_name" content="Michael Feinbier">
    <meta property="og:description" content="Freier Entwickler und TPM für PHP, Symfony2, TYPO3 und Laravel Projekte.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://michael.feinbier.net/images/facebook-cover.png">


    <script src="./bower_components/platform/platform.js"></script>

    <link rel="stylesheet" href="./elements/styles.css">
    <link rel="import" href="./elements/feinbier-page.html">
    <link rel="import" href="./elements/feinbier-footer.html">
    <link rel="import" href="./bower_components/core-media-query/core-media-query.html">
    <link rel="import" href="./bower_components/paper-fab/paper-fab.html">
    <link rel="import" href="./bower_components/core-icon/core-icon.html">
    <link rel="import" href="./bower_components/core-icons/core-icons.html">
    <link rel="import" href="./bower_components/paper-shadow/paper-shadow.html">

</head>
<body fullbleed>
<feinbier-page>

    {{> body}}

    <feinbier-footer></feinbier-footer>
</feinbier-page>

<core-media-query id="mediaQueryMobile" query="max-width: 640px"></core-media-query>

<script>

    document.querySelector('#mediaQueryMobile').addEventListener('core-media-change',
            function(e) {
                document.body.classList.toggle('core-narrow', e.detail.matches);
            });

</script>
<script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="//stats.mail.feinbier.net/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 3]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
</script>
<noscript><p><img src="//stats.mail.feinbier.net/piwik.php?idsite=3" style="border:0;" alt="" /></p></noscript>

</body>
</html>