<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6 ielt9"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7 ielt9"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 ielt9"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class=""> <!--<![endif]-->
<head>
    <title>Michael Feinbier | Freelance PHP Developer</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta property="og:title" content="Michael Feinbier - Freelance PHP Delevoper">
    <meta property="og:site_name" content="Michael Feinbier">
    <meta property="og:description" content="Freier Entwickler und TPM für PHP, Symfony2, TYPO3 und Laravel Projekte.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://michael.feinbier.net/images/facebook-cover.png">

    <!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="./bower_components/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet"> -->
    <link href="./bower_components/bootstrap-material-design/dist/css/material-wfont.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Noto+Serif:400,700' rel='stylesheet' type='text/css'>

</head>
<body>
<header class="navbar navbar-fixed-top" id="top" role="banner">
    <div class="container-fluid">
        <div class="navbar-header pull-left">
            <div class="navbar-brand">
                <span>Michael</span> Feinbier
            </div>

        </div>
        <div class="navbar-header pull-right">
            <div class="navbar-right">
                <a href="" class="btn navbar-btn mail-btn"><i class="mdi-communication-email"></i></a>
                <a href="tel:+16094641123" class="btn navbar-btn"><i class="mdi-action-settings-phone"></i></a>
            </div>
        </div>

    </div>
</header>
<div class="container-fluid">

    {{> body}}

</div>
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script src="./bower_components/bootstrap-material-design/dist/js/ripples.min.js"></script>
<script src="./bower_components/bootstrap-material-design/dist/js/material.min.js"></script>
<script>
    $(document).ready(function () {
        $.material.init();
    });

    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function () {
        var u = "//stats.mail.feinbier.net/";
        _paq.push(['setTrackerUrl', u + 'piwik.php']);
        _paq.push(['setSiteId', 3]);
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript';
        g.async = true;
        g.defer = true;
        g.src = u + 'piwik.js';
        s.parentNode.insertBefore(g, s);
    })();
</script>
<noscript><p><img src="//stats.mail.feinbier.net/piwik.php?idsite=3" style="border:0;" alt=""/></p></noscript>

</body>
</html>